*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* ..........connexion administrateur............. */
.admin-login {
    width: 330px;
    position: relative;
    margin: 8rem auto;
    border-radius: 2.2rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

.admin-acces {
    font-size: 1.2rem;
    text-align: center;
    color: #f9f9f9;
    padding: 1rem;
    box-shadow: inset 0 0 8px rgba(241, 237, 237, 0.6);    
    background-color: #232323;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="%23000" fill-opacity="0.4"><path fill-rule="evenodd" d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z" clip-rule="evenodd"/></g></svg>');
}

.admin-acces-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.admin-login:hover,
.admin-login:focus-within {
    background-color: #555;
}

.admin-acces-form input[type="password"] {
    padding: 0.8rem;
    border: none;
    background-color: transparent;
    color: #f9f9f9;
}

.admin-acces-form input[type="password"]::placeholder {
    color: #f9f9f9;
    text-align: center;
}

.admin-acces-form button {
    width: 350px;
    font-family: 'montserrat-medium';
    background-color: #131C46;
    margin: 0 -0.4rem;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.admin-acces-form button:hover {
    background-color: #26367b;
}

.admin-acces-form button:active {
    transform: scale(0.98);
}

/* .............carousel promotions................. */
.carousel-wines {
    position: relative;
    margin: 8rem auto;
    border-radius: 2.2rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    background-color: rgba(245, 235, 240, 0.5);
    overflow: hidden;
}

.carousel-wines h2 {
    font-family: 'montserrat-bold';
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f9f9f9;
    padding: 1rem;
    box-shadow: inset 0 0 16px rgba(241, 237, 237, 0.6);    
    background-color: #232323;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="%23000" fill-opacity="0.4"><path fill-rule="evenodd" d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z" clip-rule="evenodd"/></g></svg>');
}

.carousel-wine-track {
    display: flex;
    align-items: center;
    padding: 1.9rem 0 2.4rem;
    transition: transform 0.6s ease-in-out;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    width: max-content;
}

.wine-card.in-carousel {
    transition: transform 0.5s ease;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 2.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 25rem !important;
    height: 18.75rem !important;
    transform: scale(0.9) !important;
    flex: 0 0 auto;
    cursor: pointer;

}

.wine-card.in-carousel:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    transform: scale(1.05) !important;
    box-shadow: 0 0 16px rgba(7, 2, 52, 0.7) !important;
}

.wine-card.in-carousel.active {
    background-color: rgb(255, 255, 255, 1) !important;
    transform: scale(1.05) !important;
    box-shadow: 0 0 16px rgba(7, 2, 52, 0.7) !important;
}

.in-carousel .wine-info {
    width: 17.5rem !important;
    gap: 0.5rem !important;
}

.review-product {
    text-align: left;
    font-family: 'montserrat-regular' !important;
    font-size: 0.8rem !important;
}

.carousel-wines .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 0.7rem 1rem;
    cursor: pointer;
    z-index: 20;
    border-radius: 50%;
    font-size: 1.8rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-wines .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-50%) scale(1.1);
}

.carousel-wines .carousel-button.prev {
    left: 0.9rem;
}

.carousel-wines .carousel-button.next {
    right: 0.9rem;
}


/* ............barre de recherche........................ */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.2rem;
    overflow: hidden;
    background-color: #555;
    height: 3rem;
    margin: auto 1px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);       
}

.search-form:hover {
    background-color: #666;    
}

.search-form input[type="search"] {
    order: 2;
    flex-grow: 1;
    padding: 0.7rem 1.2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
    color: #f9f9f9;
}

/* applique le focus à la barre lorsqu'on est dans input */
.search-form:focus-within {
    background-color: #666;
}

.search-form input[type="search"]::placeholder {
    color: #f9f9f9;
}

/* Cache le bouton de suppression par défaut dans WebKit (Chrome/Safari) */
.search-form input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-button {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.7rem 1rem;
    cursor: pointer;
    color: #f9f9f9;
    background-color: transparent; 
    transition: transform 0.3s ease-in-out;
    white-space: nowrap;
}


.search-button:hover svg {
    color: #fd58a5;
    transform: scale(1.2);
}

.search-button:active,
.clear-search-button:active {
    transform: scale(0.9);
}

.clear-search-button {
    order: 3;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'montserrat-medium';
    text-decoration: none;
    display: flex;
    transform: rotate(135deg);
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.clear-search-button:hover {
    transform: rotate(-45deg) scale(1.3);
    color: #fd58a5;
}

.no-results-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2.2rem;
    padding: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.no-results-message p {
    font-family: 'poppins-medium';
    font-size: 1.1em;
    text-align: center;
    padding: 1.4rem;
    margin: auto 0;
    color: #131C46;
    width: fit-content;
    border-radius: 0 6rem 3rem 6rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: wrap;
}

.no-results-message img {
    width: 15rem;
}







/* .............modale de confirmation de suppression, ajout .......;*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    position: relative;
    text-align: center;
    color: #232323;
    transform: translateY(-50px);
    opacity: 0;
    animation: modalopen 0.3s forwards ease-out;
}

@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content h3 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    color: #830546;
    font-size: 1.8rem;
}

.modal-content p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.modal-item-details {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.modal-item-details img {
    width: 2.6rem;
    height: 4.3rem;
    object-fit: cover;
}

.modal-item-info {
    flex-grow: 1;
}

.modal-item-info strong {
    display: block;
    font-size: 1.2rem;
    color: #131C46;
    margin-bottom: 5px;
}

.modal-item-info span {
    font-size: 1rem;
    color: #666;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1.2rem;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover,
.close-button:focus {
    color: #333;
    text-decoration: none;
}

/* Responsive pour le modale */
@media (max-width: 500px) {
    .modal-content {
        width: 95%;
    }

    .modal-buttons {
        flex-direction: column;
    }

}



/* ..........................scrollbar........................ */
::-webkit-scrollbar {
    width: 5px;
}

/* .........scrollbar background...... */
::-webkit-scrollbar-track {
    background:#444;
}

/* ......cursor color....... */
::-webkit-scrollbar-thumb {
    background: #830546;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #db0a76;
}
/* ............................ */

body {
    height: 100vh;
    font-family: 'montserrat-medium';
    font-size: 16px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #232323;
    color: #fff;
    text-align: center;
    justify-content: space-between;
    padding: 0.3rem 5%;
    height: 4.4rem;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="%23000" fill-opacity="0.4"><path fill-rule="evenodd" d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z" clip-rule="evenodd"/></g></svg>');
    box-shadow: inset 0 -4px 8px rgba(241, 237, 237, 0.6);
}


.website-name {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: #fff;
    white-space: nowrap;
    padding-right: 0.8rem;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    height: 3.5rem;
    margin: auto 1px;
}

.website-name:hover,
.menu a:hover {
    box-shadow: inset 0 0 10px rgba(223, 93, 173, 0.6);
    border-radius: 2rem;
    color: #b41569;
}

.website-name:active,
.menu a:active {
    transform: scale(0.9);
    box-shadow: inset 0 0 20px rgba(223, 93, 173, 0.7);
}

.website-name span {
    font-size: 2rem;
}

header .menu {
    margin: auto 0;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.1rem;
    margin: auto 0;
}

.menu a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

a {
    text-decoration: none;
    outline: none;
}

.cart {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}


.cart img {
    height: 2.5rem;
    width: 2.5rem;
}

/* compteur de panier */
.cart-count {
    background-color: #830546;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.13rem 0.4rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0.4rem;
    vertical-align: super;
    font-family: 'montserrat-bold';
    min-width: 1.25rem;
    text-align: center;
}


main {
    margin: 4%;
}

/* ...................Catalogue................... */
.catalogue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    background-color: rgba(245, 235, 240, 0.5);
    border-radius: 2.2rem;
    overflow: hidden;
}

.catalogue-intro {
    font-family: 'montserrat-bold';
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f9f9f9;
    padding: 1rem;
    box-shadow: inset 0 0 16px rgba(241, 237, 237, 0.6);
    background-color: #232323;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="%23000" fill-opacity="0.4"><path fill-rule="evenodd" d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z" clip-rule="evenodd"/></g></svg>');
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    place-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 3rem;
    padding: 0 0.5rem 3rem;
}


.expandable-wine-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1.3rem;
    width: 20rem;
    height: 17.5rem;
    overflow: hidden;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}

/* Effet au survol de la carte de vin */
.expandable-wine-card:hover {
    background-color: rgba(255, 255, 255, 1);
    width: 20rem;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 16px rgba(7, 2, 52, 0.5);
}

.wine-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    position: relative;
    opacity: 1;
    transition: transform 0.5s ease;
}

.expandable-wine-card:hover .wine-card {
    opacity: 1;
    transform: translateY(-25px);
}

/* boutons "Voir le produit"  */
.hidden-wine-button {
    position: absolute;
    bottom: 0;
    width: 25rem;
    background-color: #131C46;
    color: #fff;
    transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-sizing: border-box;
    z-index: 2;
    clip-path: none;
    overflow: hidden;
    opacity: 0.9;
    transform: translateY(60%);
    border-radius: 60% 60% 0 0;
}

.hidden-wine-button:hover {
    background-color: #26367b;
}

.hidden-wine-button:active {
    transform: scale(0.98);
}

.hidden-wine-button p {
    font-size: 1.1rem;
    text-align: center;
    margin: 0 auto 0.5rem;
    padding: 1rem; 
    color: #fff;
    filter: blur(3px);
    transition: filter 0.3s ease;
}

/* le bouton apparait au survol */
.expandable-wine-card:hover .hidden-wine-button {
    opacity: 1;
    transform: translateY(0);
    border-radius: 0;
}

.expandable-wine-card:hover .hidden-wine-button p {
    filter: blur(0);
}

.wine-card img {
    width: 7.5rem;
    height: 12.5rem;
    margin: auto 0;
    object-fit: cover;
    object-position: center;
}


.wine-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0.8rem 0.5rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}

h3 {
    font-size: 1.5rem;
    color: #131C46;
    white-space: wrap;
}

h5 {
    font-size: 1.2rem;
    color: #232323;
}

.wine-info p {
    font-family: 'montserrat-semibold';
    font-size: 1.1rem;
    color: #232323;
}

.wine-info h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.delete-item-form,
.add-to-cart-form {
    border-radius: 2.2rem;
}

.wine-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}


.wine-actions form input {
    padding: 0;
}

.arrow {
    border-color: #131C46;
    border-style: solid;
    border-width: .2rem .2rem 0 0;
    transform: rotate(135deg); /* oriente la flèche vers le bas */
    height: 0.6rem;
    width: 0.6rem;
    transition: transform 0.3s ease-in-out;
}

.arrow.rotate-up {
    transform: rotate(-45deg);
}

/* Conteneur principal du sélecteur de quantité */
.quantity-selector {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 0;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}

/* Affichage de la quantité sélectionnée et de la flèche */
.quantity-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #830546;
    border-bottom: 3px solid #830546;
    border-left: 3px solid #830546;
    border-radius: 2.2rem 0 0 2.2rem;
    width: 4rem;
    padding: 0.5rem;
    cursor: pointer;
}


/* Liste déroulante des quantités */
.quantity-list {
    display: none;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    align-items: center;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 12.3rem;
    border-radius: 4px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 10;
    padding: 0.6rem;
    gap: 0.6rem;
}

.quantity-list button,
.quantity-list .quantity-input-container {
    width: 100%;
    height: 3.1rem;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #131C46;
}

/* Effet au survol des boutons et du conteneur de l'input */
.quantity-list button:hover,
.quantity-list .quantity-input-container:hover,
.quantity-list input[type="number"]:hover {
    background: #f0f0f0;
}

.quantity-list input[type="number"] {
    width: 100%;
    height: 80%;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: #131C46;
    /* -moz-appearance: textfield; /* Cache les flèches de l'input sur Firefox */
}

/* Cache les flèches de l'input sur Chrome, Safari, Edge */
.quantity-list input[type="number"]::-webkit-outer-spin-button,
.quantity-list input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-add-to-cart {
    background-color: #830546;
    border-radius: 0 2.2rem 2.2rem 0;
    color: #fff;
    padding: 0.8rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.1s ease; /* Transition pour hover et active */
}

.button-add-to-cart:hover {
    background-color: #db0a76;
}

.button-add-to-cart:active {
    transform: scale(0.98);
}



.product-card {
    max-width: 800px;
    margin: 0 auto 3rem;
    text-align: center;
    background: rgba(241, 237, 237, 0.98);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
    max-width: 800px;
}

.product-card h2 {
    color: #830546;
    margin-bottom: 2rem;
}

.product-detail {
    display: flex;
    gap: 1rem;
}

.product-detail p {
    font-size: 1rem;
    color: #444;
    text-align: justify;
}

.product-detail .wine-actions p {
    font-size: 1.1rem;
    color: #444;
    text-align: center;
}

.product-detail .wine-actions {
    max-width: 200px;
}

/* image du vin dans produit détails */
.product-detail .wine-actions img {
    width: 100%;
    margin: 0 auto;
    object-position: center;
}

/* Formulaires ajout et modification produit */
.add-product,
.update-product {
    display: flex;
    flex-direction: column;
    background: #232323;
    border-radius: 2.2rem;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;
    max-width: 750px;
    width: 100%;
    margin: 5rem auto;
    gap: 2rem;
    box-shadow: inset 0 0 16px rgba(241, 237, 237, 0.9);
    transition: transform 0.3s ease-in-out;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="%23000" fill-opacity="0.4"><path fill-rule="evenodd" d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z" clip-rule="evenodd"/></g></svg>');
}

.add-product:hover,
.update-product:hover {
    transform: translateY(-5px);
}

.add-product form,
.update-product form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 700px;
    margin: 0;
    background: transparent;
}

.add-product form textarea,
.update-product form textarea {
    min-height: 100px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    font-family: 'poppins-regular';
    color: #131C46;
    border: 0;
    border-radius: 5px;
}


input:focus, 
textarea:focus {
    outline: none;
    background-color: #f2f2f2;
}




/*  page administration et page panier */

.admin-actions,
.cart-actions {
    border-radius: 2.2rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    background-color: rgba(245, 235, 240, 0.5);
    overflow: hidden;
}

.admin-actions h2,
.cart-actions h2 {
    font-size: 2rem;
    text-align: center;
    color: #f9f9f9;
    padding: 1rem;
    box-shadow: inset 0 0 16px rgba(241, 237, 237, 0.6);
    background-color: #232323;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="%23000" fill-opacity="0.4"><path fill-rule="evenodd" d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z" clip-rule="evenodd"/></g></svg>');
}

.cart-actions p {
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    margin: 3rem auto;
    color: #131C46;
    width: fit-content;
    border-radius: 0 6rem 3rem 6rem;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .....checkout panier..... */
article {
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    margin: 3rem auto;
    color: #131C46;
    width: fit-content;
    border-radius: 0 6rem 3rem 6rem;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.admin-actions table,
.cart-actions table {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1rem;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 96%;
    border-collapse: collapse;
    margin: 3rem auto;
}


.admin-actions th,
.admin-actions td,
.cart-actions th,
.cart-actions td {
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
    color: #131C46;
}

.admin-actions th:last-child,
.admin-actions td:last-child {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.admin-actions th,
.cart-actions th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

.admin-actions td:not(:nth-child(2), :nth-child(3)),
.cart-actions td:first-child,
.cart-actions td:last-child,
.cart-actions td:nth-child(4) {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.admin-actions td:nth-child(3),
.cart-actions tr:not(:last-child) td:nth-child(3),
.cart-actions td:nth-child(5),
.cart-actions tr:last-child td:nth-child(2) {
    text-align: end;   
}

.cart-actions .quantity-update-form {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    background: none;
}

.cart-actions .quantity-input {
    width: 4rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    /* -moz-appearance: textfield; */
    font-family: 'montserrat-regular';
    font-size: 1rem;
    color: #131C46;
}

/* cache les flèches dans Chrome, Safari, Edge */
.cart-actions .quantity-input::-webkit-outer-spin-button,
.cart-actions .quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* total des prix dans le panier */
.cart-actions .total-label {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.modal-buttons .button-cancel,
.add-product .button-add-product,
.update-product .button-update-product,
.admin-actions .button-add-product,
.admin-actions .button-update,
.cart-actions .button-checkout {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'montserrat-medium';
    background-color: #830546;
    border-radius: 2.2rem;
    color: #fff;
    padding: 0.8rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-buttons .button-cancel:hover,
.add-product .button-add-product:hover,
.update-product .button-update-product:hover,
.admin-actions .button-add-product:hover,
.admin-actions .button-update:hover,
.cart-actions .button-checkout:hover {
    background-color: #b41569;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.modal-buttons .button-cancel:active,
.add-product .button-add-product:active,
.update-product .button-update-product:active,
.admin-actions .button-update:active,
.cart-actions .button-checkout:active {
    transform: translateY(0);
    box-shadow: none;
    opacity: 0.8;
}


.button-view-product,
.modal-buttons .button-remove,
.add-product .button-back,
.update-product .button-back,
.admin-actions .button-delete,
.button-back-to-catalog,
.cart-actions .button-remove {
    text-align: center;
    text-decoration: none;
    font-family: 'montserrat-medium';
    background-color: #131C46;
    border-radius: 2.2rem;
    color: #fff;
    padding: 0.8rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button-view-product:hover,
.modal-buttons .button-remove:hover,
.add-product .button-back:hover,
.update-product .button-back:hover,
.admin-actions .button-delete:hover,
.button-back-to-catalog:hover,
.cart-actions .button-remove:hover {
    background-color: #26367b;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.button-view-product:active,
.modal-buttons .button-remove:active,
.add-product .button-back:active,
.update-product .button-back:active,
.admin-actions .button-add-product:active,
.admin-actions .button-delete:active,
.button-back-to-catalog:active,
.cart-actions .button-remove:active {
    transform: translateY(0);
    box-shadow: none;
    opacity: 0.8;
}

.admin-actions .button-update-delete {
    display: flex;
    /* flex-wrap: wrap; */
}


.admin-actions .button-add-product,
.button-back-to-catalog {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    align-items: center;
    margin: 2rem auto;
    width: 60%;
}


/* ...................footer....................... */
footer {
    background-color: #232323;
    color: #f9f9f9;
    padding: 3rem 1rem 1rem;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="%23000" fill-opacity="0.4"><path fill-rule="evenodd" d="M10 0a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16z" clip-rule="evenodd"/></g></svg>');
    box-shadow: inset 0 4px 8px rgba(241, 237, 237, 0.6);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.footer-content .about,
.footer-content .links,
.footer-content .social-payment {
    flex: 1;
    min-width: 250px;
    max-width: 340px;
    margin: 3rem 2% 2rem;
}

.links h3,
.newsletter h3,
.social h3, 
.payment-method h3 {
    color: #fff;
    margin: 0 0 1rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.footer-content p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #f9f9f9;
    padding: 0 0 1rem;
}

.about h3 {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: #fff;
    margin-top: -1.5rem;
}

.footer-section .contact-info p {
    margin-bottom: 10px;
}

.footer-section .contact-info i {
    margin-right: 10px;
    color: #df5dad;
}

.footer-content .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-content .links ul li {
    margin-bottom: 10px;
}

.footer-content .links ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem;
}

.footer-content .links ul li a:hover {
    color: #b41569;
    box-shadow: inset 0 0 10px rgba(223, 93, 173, 0.6);
    border-radius: 2rem;
}


.social-payment {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.footer-content .newsletter form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #555;
    border-radius: 2.2rem;
    overflow: hidden;
    height: 3rem;
}

.newsletter form:hover,
.newsletter form:focus-within {
    background-color: #666;
}

.footer-content .newsletter input[type="email"] {
    padding: 0.8rem;
    border: none;
    background-color: transparent;
    color: #fff;
}

.footer-content .newsletter input[type="email"]::placeholder {
    color: #bbb;
}

.footer-content .newsletter button {
    font-family: 'montserrat-medium';
    background-color: #830546;
    height: 4rem;
    margin-right: -0.4rem;
    color: #fff;
    border: none;
    padding: 1rem 1.4rem 1rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.footer-content .newsletter button:hover {
    background-color: #b41569;
}

.footer-content .social-links a {
    color: #fff;
    font-size: 1.8rem;
    padding: 0.3rem 0.5rem;
    margin-right: 2rem;
    transition: color 0.3s ease;
}

.footer-content .social-links a:first-child {
    padding: 0.3rem 0.8rem;
}

.footer-content .social-links a:hover {
    box-shadow: inset 0 0 10px rgba(223, 93, 173, 0.6);
    border-radius: 50%;
    color: #b41569;
}

.footer-content .payment-links a {
    text-decoration: none;
    margin-right: 2rem;
}

.footer-content .payment-links img {
    width: 3.2rem;
    padding: 0.3rem;

}

.footer-content .payment-links img:hover {
    box-shadow: inset 0 0 10px rgba(223, 93, 173, 0.6);
    border-radius: 50%;
}

.footer-content .links ul li a:active,
.footer-content .social-links a:active,
.footer-content .payment-links img:active {
    transform: scale(0.9);
    box-shadow: inset 0 0 20px rgba(223, 93, 173, 0.7);
}




.footer-copyright {
    text-align: center;
    padding-top: 1.2rem;
    margin-top: 2rem;
    border-top: 1px solid #555;
    font-size: 0.85rem;
    color: #aaa;
}

.footer-copyright span {
    font-family: 'Allison';
    font-size: 2rem;
    color: #ccc;
}

#scrollTopBtn {
    position: fixed;
    bottom: 1.8rem;
    right: 1.8rem;
    z-index: 300;
    background-color: #cbd5e1;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 50% 50% 0.5rem 50%;
    padding: 0.5rem;
    transition: opacity 0.2s ease-in-out, transform 0.1s ease;
    border: none;
    display: none;
}

#scrollTopBtn:hover {
    opacity: 1;
}

.newsletter button:active,
#scrollTopBtn:active,
#changeBackground:active {
    transform: scale(0.9);
}


#changeBackground {
    position: fixed;
    bottom: 1.8rem;
    left: 1.8rem;
    z-index: 300;
    background-color: transparent;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out, transform 0.1s ease;
    border: none;
    display: flex;
}

#changeBackground:hover {
    opacity: 1;
}

/* .........info bulle.............. */
.search-form .search-button::after,
.search-form .clear-search-button::after,
[data-title] {
    position: relative;
}

.search-form button[data-title]::after,
.search-form a[data-title]::after,
[data-title]::after {
    content: attr(data-title);
    position: absolute;
    bottom: 110%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.7rem;
    font-size: 0.9rem;
    border-radius: 1.5rem;
    white-space: nowrap;
    display: none;
}

#scrollTopBtn[data-title]::after {
    transform: translateX(-60%);
}

.search-form button[data-title]:hover::after,
.search-form a[data-title]:hover::after,
[data-title]:hover::after {
    display: block !important;
}

/* .....connexion et déconnexion admin........ */
.admin-log {
    display: flex;
    justify-content: space-between;
}

.admin-log a {
    text-decoration: none;
   border-radius: 50%;
   overflow: hidden;
}

.admin-log img {
    height: 3rem;
    width: 3rem;
    background-color: #cbd5e1;
    opacity: 0.3;
    padding: 0.2rem;
    border-radius: 50%;
}

.admin-log img:hover{
    opacity: 1;
}

.admin-log img:active {
    transform: scale(0.95)
}



/*  Responsive pour tout le site */


@media (max-width: 1024px) {
    .menu ul {
        gap: 0;
    }

    .menu ul li:first-child,
    .menu ul li:nth-child(2) {
        display: none;
    }

    .website-name span {
        display: none;
    }
}


@media (max-width: 768px) {
    /* .cart-actions {
        padding: 15px;
    }

    .cart-actions table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .cart-actions thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .cart-actions tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .cart-actions td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .cart-actions td::before {
        content: attr(data-label);
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        color: #232323;
    }

    .cart-actions td:last-child {
        border-bottom: 0;
    }

    .cart-actions .total-label {
        text-align: left;
        padding-left: 6px;
    }

    .cart-actions .checkout-button-cell {
        text-align: left;
        padding-left: 6px;
    }

    .cart-actions .cart-buttons-bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .cart-actions .cart-buttons-bottom .button-back-to-catalog {
        width: 100%;
        max-width: 250px;
    } */

    .catalogue {
        flex-direction: column;
        align-items: center;
    }

    .product-detail {
        width: 90%;
    }

    form {
        width: 90%;
    }
}